n8n-workflows/process-profile.json
{
  "name": "ContractNest Profile Processor v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-profile",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.type }}",
              "value2": "manual"
            }
          ]
        }
      },
      "name": "IF Manual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 400]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "rawContent",
              "value": "={{ $json.body.content }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            },
            {
              "name": "groupId",
              "value": "={{ $json.body.groupId }}"
            },
            {
              "name": "sourceUrl",
              "value": ""
            }
          ]
        }
      },
      "name": "Set Manual Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 250]
    },
    {
      "parameters": {
        "url": "={{ $json.body.websiteUrl }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [600, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Fetch Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 550]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.websiteUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Simple Fetch Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Retry Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 700]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "errorCode",
              "value": "WEBSITE_FETCH_FAILED"
            },
            {
              "name": "message",
              "value": "Unable to fetch website content"
            },
            {
              "name": "details",
              "value": "={{ $json.error.message || 'Website could not be reached or blocked the request' }}"
            },
            {
              "name": "suggestion",
              "value": "Please paste your business description manually instead"
            }
          ],
          "boolean": [
            {
              "name": "recoverable",
              "value": true
            }
          ]
        }
      },
      "name": "Website Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1400, 850]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract business information from this HTML. Return a clean text summary with: company name, services/products, key differentiators, contact info if available. No HTML tags in output.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(($json.data || $json.body || \"\").substring(0, 15000)) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Extract Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1200, 450],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined || $json.choices === undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Extract Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 450]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "errorCode",
              "value": "AI_EXTRACT_FAILED"
            },
            {
              "name": "message",
              "value": "Failed to extract content from website"
            },
            {
              "name": "details",
              "value": "={{ $json.error?.message || 'AI service temporarily unavailable' }}"
            },
            {
              "name": "suggestion",
              "value": "Please try again in a few moments or paste your content manually"
            }
          ],
          "boolean": [
            {
              "name": "recoverable",
              "value": true
            }
          ]
        }
      },
      "name": "Extract Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1600, 600]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "rawContent",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Webhook').item.json.body.userId }}"
            },
            {
              "name": "groupId",
              "value": "={{ $('Webhook').item.json.body.groupId }}"
            },
            {
              "name": "sourceUrl",
              "value": "={{ $('Webhook').item.json.body.websiteUrl }}"
            }
          ]
        }
      },
      "name": "Set Website Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1600, 350]
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Rewrite this business description professionally for a networking directory. Guidelines: Keep facts accurate, use engaging language, 150-300 words, include a tagline at start, use We or I appropriately. Output only the enhanced description.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.rawContent) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Enhance Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined || $json.choices === undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Enhance Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "errorCode",
              "value": "AI_ENHANCE_FAILED"
            },
            {
              "name": "message",
              "value": "Failed to enhance profile content"
            },
            {
              "name": "details",
              "value": "={{ $json.error?.message || 'AI service temporarily unavailable' }}"
            },
            {
              "name": "suggestion",
              "value": "Please try again in a few moments"
            },
            {
              "name": "originalContent",
              "value": "={{ $('Merge').item.json.rawContent }}"
            }
          ],
          "boolean": [
            {
              "name": "recoverable",
              "value": true
            }
          ]
        }
      },
      "name": "Enhance Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2400, 450]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "enhancedContent",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "originalContent",
              "value": "={{ $('Merge').item.json.rawContent }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Merge').item.json.userId }}"
            },
            {
              "name": "groupId",
              "value": "={{ $('Merge').item.json.groupId }}"
            },
            {
              "name": "sourceUrl",
              "value": "={{ $('Merge').item.json.sourceUrl || '' }}"
            }
          ]
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2400, 200]
    },
    {
      "parameters": {},
      "name": "Merge Errors",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2600, 650]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2600, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2800, 650]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Manual": {
      "main": [
        [
          {
            "node": "Set Manual Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Manual Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Fetch Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Failed?": {
      "main": [
        [
          {
            "node": "Simple Fetch Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Fetch Retry": {
      "main": [
        [
          {
            "node": "Retry Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Failed?": {
      "main": [
        [
          {
            "node": "Website Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Error Response": {
      "main": [
        [
          {
            "node": "Merge Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Extract Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Failed?": {
      "main": [
        [
          {
            "node": "Extract Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Response": {
      "main": [
        [
          {
            "node": "Merge Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Website Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Enhance Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Profile": {
      "main": [
        [
          {
            "node": "Enhance Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Failed?": {
      "main": [
        [
          {
            "node": "Enhance Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Error Response": {
      "main": [
        [
          {
            "node": "Merge Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Errors": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
