manual_copy_familyknows/n8n-workflows/ContractNest-AI-Search.json
{
  "name": "ContractNest - AI Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "search-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract request parameters\nconst body = $input.first().json.body || $input.first().json;\n\n// Required fields\nconst query = body.query;\nconst group_id = body.group_id;\n\nif (!query || !group_id) {\n  return [{\n    json: {\n      success: false,\n      error: 'Missing required fields',\n      details: 'query and group_id are required'\n    },\n    shouldStop: true\n  }];\n}\n\n// Optional fields with defaults\nconst scope = body.scope || 'group';\nconst intent_code = body.intent_code || 'search_offering';\nconst user_role = body.user_role || 'member';\nconst channel = body.channel || 'web';\nconst limit = body.limit || 10;\nconst use_cache = body.use_cache !== false;\nconst similarity_threshold = body.similarity_threshold || 0.7;\n\nreturn [{\n  json: {\n    query,\n    group_id,\n    scope,\n    intent_code,\n    user_role,\n    channel,\n    limit,\n    use_cache,\n    similarity_threshold,\n    query_normalized: query.toLowerCase().trim()\n  }\n}];"
      },
      "id": "validate-request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-should-stop",
              "leftValue": "={{ $json.shouldStop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Validation OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-validation-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  is_cached,\n  results,\n  results_count,\n  hit_count\nFROM get_cached_search(\n  '{{ $json.group_id }}'::UUID,\n  '{{ $json.query_normalized }}'\n);",
        "options": {}
      },
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [910, 400],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-cache-hit",
              "leftValue": "={{ $json.is_cached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cache-hit-check",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"from_cache\": true,\n  \"cache_hit_count\": {{ $json.hit_count }},\n  \"results_count\": {{ $json.results_count }},\n  \"results\": {{ JSON.stringify($json.results) }},\n  \"query\": \"{{ $('Validate Request').item.json.query }}\",\n  \"search_scope\": \"{{ $('Validate Request').item.json.scope }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-cached-results",
      "name": "Return Cached Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "resource": "embedding",
        "model": "text-embedding-ada-002",
        "input": "={{ $('Validate Request').item.json.query }}"
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.5,
      "position": [1350, 500],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Extract embedding from OpenAI response\nconst embedding = $input.first().json.data[0].embedding;\nconst validatedData = $('Validate Request').first().json;\n\nif (!embedding || !Array.isArray(embedding)) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to generate embedding',\n      details: 'OpenAI did not return valid embedding'\n    },\n    shouldStop: true\n  }];\n}\n\n// Format embedding as PostgreSQL array string\nconst embeddingStr = '[' + embedding.join(',') + ']';\n\nreturn [{\n  json: {\n    ...validatedData,\n    embedding: embeddingStr,\n    embedding_array: embedding\n  }\n}];"
      },
      "id": "format-embedding",
      "name": "Format Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-embedding-error",
              "leftValue": "={{ $json.shouldStop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "embedding-ok-check",
      "name": "Embedding OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "return-embedding-error",
      "name": "Return Embedding Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT unified_search(\n  '{{ $json.group_id }}'::UUID,\n  '{{ $json.query }}',\n  '{{ $json.embedding }}'::vector(1536),\n  '{{ $json.intent_code }}',\n  '{{ $json.user_role }}',\n  '{{ $json.channel }}',\n  '{{ $json.scope }}',\n  {{ $json.limit }},\n  {{ $json.use_cache }}\n) as result;",
        "options": {}
      },
      "id": "execute-search",
      "name": "Execute Search",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2010, 600],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and format search results\nconst searchResult = $input.first().json.result || $input.first().json[0]?.result;\n\nif (!searchResult) {\n  return [{\n    json: {\n      success: false,\n      error: 'Search execution failed',\n      details: 'No result returned from database'\n    }\n  }];\n}\n\n// Parse if string\nconst result = typeof searchResult === 'string' ? JSON.parse(searchResult) : searchResult;\n\nreturn [{\n  json: result\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : ($json.error === 'Permission denied' ? 403 : 500) }}"
        }
      },
      "id": "return-search-results",
      "name": "Return Search Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 600]
    }
  ],
  "connections": {
    "Webhook - Search": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Validation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation OK?": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Cache Hit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit?": {
      "main": [
        [
          {
            "node": "Return Cached Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Format Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Embedding": {
      "main": [
        [
          {
            "node": "Embedding OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding OK?": {
      "main": [
        [
          {
            "node": "Return Embedding Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Search": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Return Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-08T00:00:00.000Z",
  "versionId": "1"
}
