MANUAL_COPY_FILES/n8n-workflows/generate-clusters.json
{
  "name": "ContractNest - Generate Semantic Clusters",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-clusters",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.membership_id !== undefined && $json.body.profile_text !== undefined && $json.body.profile_text.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "errorCode",
              "value": "INVALID_INPUT"
            },
            {
              "name": "message",
              "value": "Missing required fields: membership_id and profile_text are required"
            },
            {
              "name": "suggestion",
              "value": "Provide membership_id and profile_text in request body"
            }
          ],
          "boolean": [
            {
              "name": "recoverable",
              "value": false
            }
          ],
          "number": [
            {
              "name": "clusters_generated",
              "value": 0
            }
          ]
        }
      },
      "name": "Invalid Input Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 450]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "membership_id",
              "value": "={{ $json.body.membership_id }}"
            },
            {
              "name": "profile_text",
              "value": "={{ $json.body.profile_text.substring(0, 6000) }}"
            },
            {
              "name": "keywords",
              "value": "={{ ($json.body.keywords || []).join(', ') }}"
            },
            {
              "name": "chapter",
              "value": "={{ $json.body.chapter || '' }}"
            }
          ]
        }
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a semantic analysis expert specializing in business profile optimization for search. Generate semantic clusters to match customer searches with relevant businesses.\\n\\nContext:\\n- Used by WhatsApp bot to identify relevant businesses\\n- Target audience: Indian businesses and customers\\n- Consider: industry terms, common misspellings, regional terms (Indian English/Hindi transliterations), product/service alternatives\\n\\nReturn ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Analyze this business profile and generate semantic clusters.\\n\\nProfile: \" + $json.profile_text + \"\\n\\nExisting Keywords: \" + $json.keywords + \"\\n\\nGenerate 3-5 semantic clusters. For each include:\\n1. primary_term: Main keyword (lowercase)\\n2. related_terms: Array of 10-15 related search terms (lowercase) - synonyms, misspellings, Hindi transliterations, customer phrases, industry jargon\\n3. category: One of [Technology, Healthcare, Services, Manufacturing, Trading, Education, Finance, Real Estate, Retail, Hospitality, Consulting, Other]\\n4. confidence_score: 0.0 to 1.0\\n\\nReturn JSON: { \\\"clusters\\\": [{ \\\"primary_term\\\": \\\"term\\\", \\\"related_terms\\\": [...], \\\"category\\\": \\\"Category\\\", \\\"confidence_score\\\": 0.95 }] }\") }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "OpenAI Generate Clusters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 200],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined || $json.choices === undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "OpenAI Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "errorCode",
              "value": "CLUSTER_GENERATION_FAILED"
            },
            {
              "name": "message",
              "value": "Failed to generate semantic clusters"
            },
            {
              "name": "details",
              "value": "={{ $json.error?.message || 'OpenAI API temporarily unavailable' }}"
            },
            {
              "name": "suggestion",
              "value": "Please try again in a few moments"
            },
            {
              "name": "membership_id",
              "value": "={{ $('Prepare Data').item.json.membership_id }}"
            }
          ],
          "boolean": [
            {
              "name": "recoverable",
              "value": true
            }
          ],
          "number": [
            {
              "name": "clusters_generated",
              "value": 0
            }
          ]
        }
      },
      "name": "OpenAI Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1200, 350]
    },
    {
      "parameters": {
        "jsCode": "// Parse GPT response and format output\nconst input = $input.first().json;\nconst membershipId = $('Prepare Data').first().json.membership_id;\nconst chapter = $('Prepare Data').first().json.chapter;\n\ntry {\n  // Get the message content from OpenAI response\n  const responseText = input.choices[0].message.content;\n  \n  // Parse the JSON response\n  const parsed = JSON.parse(responseText);\n  const clusters = parsed.clusters || [];\n  \n  // Validate and clean up clusters\n  const validatedClusters = clusters.map((cluster) => ({\n    primary_term: (cluster.primary_term || '').toLowerCase().trim(),\n    related_terms: (cluster.related_terms || [])\n      .map(t => t.toLowerCase().trim())\n      .filter(t => t.length > 0),\n    category: cluster.category || 'Services',\n    confidence_score: Math.min(1, Math.max(0, parseFloat(cluster.confidence_score) || 0.8))\n  })).filter(c => c.primary_term.length > 0);\n  \n  return {\n    status: 'success',\n    membership_id: membershipId,\n    chapter: chapter,\n    clusters_generated: validatedClusters.length,\n    clusters: validatedClusters,\n    tokens_used: input.usage?.total_tokens || 0\n  };\n  \n} catch (error) {\n  return {\n    status: 'error',\n    errorCode: 'PARSE_ERROR',\n    membership_id: membershipId,\n    message: 'Failed to parse cluster response',\n    details: error.message,\n    clusters_generated: 0,\n    clusters: [],\n    recoverable: true\n  };\n}"
      },
      "name": "Parse Clusters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Parse Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 100]
    },
    {
      "parameters": {},
      "name": "Merge Errors",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1800, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Input Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Input Response": {
      "main": [
        [
          {
            "node": "Merge Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "OpenAI Generate Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Clusters": {
      "main": [
        [
          {
            "node": "OpenAI Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Failed?": {
      "main": [
        [
          {
            "node": "OpenAI Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Error Response": {
      "main": [
        [
          {
            "node": "Merge Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Clusters": {
      "main": [
        [
          {
            "node": "Parse Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Success?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Errors": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
