MANUAL_COPY_FILES/n8n-workflows/smartprofile-scrape.json
{
  "name": "ContractNest - SmartProfile Scrape Website",
  "nodes": [
    {
      "parameters": {
        "content": "SmartProfile Scrape Website Endpoint\n\nStep 1 Alternative - Website URL Input:\n- Takes website_url\n- Scrapes website content\n- Uses GPT-4o-mini to generate profile from scraped content\n- Returns enhanced description + keywords",
        "height": 900,
        "width": 2200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-2300, 100],
      "typeVersion": 1,
      "id": "sp-scrape-sticky",
      "name": "Sticky Note - SmartProfile Scrape"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartprofile-scrape",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "SmartProfile Scrape Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-2200, 400],
      "id": "sp-scrape-webhook",
      "webhookId": "smartprofile-scrape-001"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.tenant_id !== undefined && $json.body.website_url !== undefined && $json.body.website_url.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Validate Scrape Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-1992, 400],
      "id": "sp-scrape-validate"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "status", "value": "error" },
            { "name": "errorCode", "value": "INVALID_INPUT" },
            { "name": "message", "value": "Missing required fields" },
            { "name": "details", "value": "tenant_id and website_url are required" },
            { "name": "suggestion", "value": "Provide tenant_id and website_url in request body" }
          ],
          "boolean": [
            { "name": "recoverable", "value": true }
          ]
        },
        "options": {}
      },
      "name": "Invalid Scrape Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-1784, 560],
      "id": "sp-scrape-invalid-input"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "tenant_id", "value": "={{ $json.body.tenant_id }}" },
            { "name": "website_url", "value": "={{ $json.body.website_url }}" },
            { "name": "profile_type", "value": "={{ $json.body.profile_type || 'seller' }}" }
          ]
        },
        "options": {}
      },
      "name": "Prepare Scrape Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-1784, 280],
      "id": "sp-scrape-prepare"
    },
    {
      "parameters": {
        "url": "={{ $json.website_url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-1576, 280],
      "id": "sp-scrape-fetch",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined || (typeof $json.data === 'string' && $json.data.length < 100) }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Fetch Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-1368, 280],
      "id": "sp-scrape-fetch-check"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "status", "value": "error" },
            { "name": "errorCode", "value": "FETCH_FAILED" },
            { "name": "message", "value": "Failed to fetch website" },
            { "name": "details", "value": "={{ $json.error?.message || 'Website is not accessible or returned empty content' }}" },
            { "name": "suggestion", "value": "Please check the URL and try again, or enter description manually" },
            { "name": "tenant_id", "value": "={{ $('Prepare Scrape Data').item.json.tenant_id }}" }
          ],
          "boolean": [
            { "name": "recoverable", "value": true }
          ]
        },
        "options": {}
      },
      "name": "Fetch Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-1160, 400],
      "id": "sp-scrape-fetch-error"
    },
    {
      "parameters": {
        "jsCode": "const htmlContent = $input.first().json.data || $input.first().json.body || '';\nconst scrapeData = $('Prepare Scrape Data').first().json;\n\n// Extract text content from HTML (basic extraction)\nlet textContent = htmlContent\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Extract title\nlet title = '';\nconst titleMatch = htmlContent.match(/<title[^>]*>([^<]+)<\\/title>/i);\nif (titleMatch) title = titleMatch[1].trim();\n\n// Extract meta description\nlet metaDescription = '';\nconst metaMatch = htmlContent.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\nif (metaMatch) metaDescription = metaMatch[1].trim();\n\n// Limit content for AI processing\nconst limitedContent = textContent.substring(0, 6000);\n\nreturn {\n  tenant_id: scrapeData.tenant_id,\n  website_url: scrapeData.website_url,\n  profile_type: scrapeData.profile_type,\n  scraped_title: title,\n  scraped_meta: metaDescription,\n  scraped_content: limitedContent,\n  content_length: textContent.length\n};"
      },
      "name": "Extract Website Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1160, 160],
      "id": "sp-scrape-extract"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional business profile writer. Your task is to analyze website content and create a compelling business profile. Focus on extracting key information about the business, its services, and unique value propositions.\\n\\nContext:\\n- Target audience: Indian businesses and customers\\n- Create professional, SEO-friendly content\\n- Extract relevant keywords for search\\n\\nReturn ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Analyze this website content and create a business profile.\\n\\nWebsite URL: \" + $json.website_url + \"\\nPage Title: \" + $json.scraped_title + \"\\nMeta Description: \" + $json.scraped_meta + \"\\n\\nPage Content:\\n\" + $json.scraped_content + \"\\n\\nRequirements:\\n1. Create an enhanced business description (150-300 words)\\n2. Extract 5-10 relevant keywords\\n3. Identify key services/products offered\\n\\nReturn JSON: { \\\"enhanced_description\\\": \\\"...\\\", \\\"keywords\\\": [...], \\\"services\\\": [...], \\\"summary\\\": \\\"One sentence summary\\\" }\") }}\n    }\n  ]\n}",
        "options": { "timeout": 60000 }
      },
      "name": "Generate Profile from Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-952, 160],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "id": "sp-scrape-ai",
      "credentials": {
        "openAiApi": {
          "id": "D7quOivJEzyKnfHS",
          "name": "BBBwhatsapp"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined || $json.choices === undefined }}",
              "value2": true
            }
          ]
        }
      },
      "name": "AI Generation Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-744, 160],
      "id": "sp-scrape-ai-check"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "status", "value": "error" },
            { "name": "errorCode", "value": "AI_GENERATION_FAILED" },
            { "name": "message", "value": "Failed to generate profile from website" },
            { "name": "details", "value": "={{ $json.error?.message || 'OpenAI API temporarily unavailable' }}" },
            { "name": "suggestion", "value": "Please try again or enter description manually" },
            { "name": "tenant_id", "value": "={{ $('Prepare Scrape Data').item.json.tenant_id }}" }
          ],
          "boolean": [
            { "name": "recoverable", "value": true }
          ]
        },
        "options": {}
      },
      "name": "AI Generation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-536, 280],
      "id": "sp-scrape-ai-error"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst extractData = $('Extract Website Content').first().json;\n\n// Parse AI response\nlet enhanced_description = '';\nlet keywords = [];\nlet services = [];\nlet summary = '';\n\ntry {\n  const responseText = aiResponse.choices[0].message.content;\n  const parsed = JSON.parse(responseText);\n  enhanced_description = parsed.enhanced_description || parsed.description || '';\n  keywords = (parsed.keywords || []).map(k => k.toLowerCase().trim()).filter(k => k.length > 0);\n  services = parsed.services || [];\n  summary = parsed.summary || '';\n} catch (e) {\n  // Fallback to meta description\n  enhanced_description = extractData.scraped_meta || extractData.scraped_title || '';\n  keywords = [];\n}\n\nreturn {\n  success: true,\n  tenant_id: extractData.tenant_id,\n  ai_enhanced_description: enhanced_description,\n  suggested_keywords: keywords,\n  summary: summary,\n  scraped_data: {\n    title: extractData.scraped_title,\n    meta_description: extractData.scraped_meta,\n    services: services,\n    content_length: extractData.content_length\n  },\n  website_url: extractData.website_url,\n  profile_type: extractData.profile_type,\n  tokens_used: aiResponse.usage?.total_tokens || 0\n};"
      },
      "name": "Format Scrape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-536, 40],
      "id": "sp-scrape-format"
    },
    {
      "parameters": {},
      "name": "Merge Scrape Errors",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [-328, 480],
      "id": "sp-scrape-merge-errors"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "name": "Respond Scrape Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-328, 40],
      "id": "sp-scrape-respond-success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 400 }
      },
      "name": "Respond Scrape Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-120, 480],
      "id": "sp-scrape-respond-error"
    }
  ],
  "pinData": {},
  "connections": {
    "SmartProfile Scrape Webhook": {
      "main": [[{ "node": "Validate Scrape Input", "type": "main", "index": 0 }]]
    },
    "Validate Scrape Input": {
      "main": [
        [{ "node": "Prepare Scrape Data", "type": "main", "index": 0 }],
        [{ "node": "Invalid Scrape Input", "type": "main", "index": 0 }]
      ]
    },
    "Invalid Scrape Input": {
      "main": [[{ "node": "Merge Scrape Errors", "type": "main", "index": 0 }]]
    },
    "Prepare Scrape Data": {
      "main": [[{ "node": "Fetch Website", "type": "main", "index": 0 }]]
    },
    "Fetch Website": {
      "main": [[{ "node": "Fetch Failed?", "type": "main", "index": 0 }]]
    },
    "Fetch Failed?": {
      "main": [
        [{ "node": "Fetch Error", "type": "main", "index": 0 }],
        [{ "node": "Extract Website Content", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Error": {
      "main": [[{ "node": "Merge Scrape Errors", "type": "main", "index": 0 }]]
    },
    "Extract Website Content": {
      "main": [[{ "node": "Generate Profile from Website", "type": "main", "index": 0 }]]
    },
    "Generate Profile from Website": {
      "main": [[{ "node": "AI Generation Failed?", "type": "main", "index": 0 }]]
    },
    "AI Generation Failed?": {
      "main": [
        [{ "node": "AI Generation Error", "type": "main", "index": 0 }],
        [{ "node": "Format Scrape Response", "type": "main", "index": 0 }]
      ]
    },
    "AI Generation Error": {
      "main": [[{ "node": "Merge Scrape Errors", "type": "main", "index": 0 }]]
    },
    "Format Scrape Response": {
      "main": [[{ "node": "Respond Scrape Success", "type": "main", "index": 0 }]]
    },
    "Merge Scrape Errors": {
      "main": [[{ "node": "Respond Scrape Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
